extends base.pug

block scripts
      script(src='/static/script.js')

block style 
      style 
            include ../static/style.css
            include ../static/aboutstyle.css
       
block content
  section#body 
           
            section.heading
                 h1 Professional and Skill-Focused
            section.para
                 p At MEHR DANCE ACADEMY , we believe in the transformative power of dance. With a team of highly trained instructors, state-of-the-art facilities, and a wide range of dance styles to choose from, we are dedicated to helping dancers unlock their full potential. From ballet to hip-hop, salsa to contemporary, we offer a structured and supportive environment to master techniques, build confidence, and find joy in every movement.
            
           
            section.heading
                 h1 Innovative and Modern
            section.para
                 p Step into the future of dance at MEHR DANCE ACADEMY ! Combining innovative techniques, modern choreography, and cutting-edge technology, we offer a unique dance experience for today's generation. Our classes are designed to challenge and inspire dancers to think creatively, express themselves, and break boundaries in the world of movement.
            section.heading
                 h1 Tradition and Culture
            section.para
                 p At MEHR DANCE ACADEMY , we honor the beauty of dance as a timeless art form. Rooted in tradition and enriched by modern influences, our classes celebrate the diversity of movement and culture. Whether you're exploring classical forms like ballet or venturing into the dynamic world of contemporary dance, we're here to help you find your rhythm and tell your story.