doctype html
html
  head
    title MEHR DANCE ACADEMY
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="../static/logo.png")
          p MDA
        li #[a(href="/") HOME] 
        li #[a(href="/services") SERVICES] 
        li #[a(href="/about") ABOUT]
        li #[a(href="/classinfo") CLASS INFO]
        li #[a(href="/contact") CONTACT US]
    block content
    footer#footersection
      | copyright @ 2025 mehrdanceacademy.com | All copyright reserved
